:root {
    --tomato: #d62501;
    --bun: #7c3200;
    --lettuce: #13a10e;
    --cheese: #c08a00;
    --patty: #743e0c;
}

html,
body {
    height: 95vh;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    padding: 0 15px;
    text-align: center;
    font-size: 1.2rem;
}

.burger {
    cursor: pointer;
    background-color: transparent;
    width: 4rem;
    padding: 0 0.1rem;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
}